<div class="header container-fluid justify-content-center row m-0"
     style="margin-bottom: 1rem;position: sticky;top: 0;z-index: 99">
  <div class="row">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item m-2">
            <a class="nav-link disabled text-white" href="#">Home</a>
          </li>
          <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Customer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Add new customer</a>
              <a class="dropdown-item" href="#">Display customer</a>
            </div>
          </li>
          <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown2" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Employee
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Add new employee</a>
              <a class="dropdown-item" href="#">Display employee</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link h3 text-white text-title" href="#">Furama <span
              class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown3" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Add new service</a>
              <a class="dropdown-item" href="#">Display service</a>
            </div>
          </li>
          <li class="nav-item dropdown m-2">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown4" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Contracts
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Add new contract</a>
              <a class="dropdown-item" href="#">Display contract</a>
            </div>
          </li>
          <li class="nav-item m-2">
            <a class="nav-link disabled text-white" href="#">Sign in</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
