<div class="container">
  <div class="row justify-content-center" style="margin-top: 6rem">
    <h5 class="text-white font-weight-bold" style="font-size: 5rem">Study the best</h5>
  </div>
  <div class="row justify-content-center">
    <h5 class="text-white font-weight-bold" style="font-size: 5rem">Codegym</h5>
  </div>
  <div class="row justify-content-center">
    <h5 class="text-white font-weight-bold" style="font-size: 5rem">Da Nang</h5>
  </div>
  <div class="row justify-content-center">
    <p class="text-white" style="font-size: 1.3rem">Number 1 Java Bootcamp course, we have all you need to go to work</p>
  </div>
  <div class="row justify-content-center">
    <p class="text-white" style="font-size: 1.3rem">We guarantee jobs for students and refund if you can't find jobs</p>
  </div>
  <div class="row justify-content-center">
    <p class="text-white font-weight-bold" style="font-size: 1.8rem">Take java bootcamp course right now</p>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-yellow font-weight-bold" style="font-size: 1.3rem">Sign Up</button>
  </div>
  <div class="row justify-content-center" style="padding-top: 1.4rem">
    <h5 class="text-white font-weight-bold" style="font-size: 1.8rem">The future is bright</h5>
  </div>
</div>
