
<div class="container">
  <div class="row justify-content-center service-banner" style="margin-top: 1rem">
    <h3 class="text-title text-white m-5" style="font-size: 3rem">Contract</h3>
  </div>
  <div class="row justify-content-center" style="margin-top: 2rem; flex-wrap: wrap">
    <table class="table table-hover" id="customerTable">
      <thead class="text-white table-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Customer</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Deposit</th>
        <th scope="col">Total money</th>
        <th scope="col">Attach service</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Villa</td>
        <td>Khanh Tran</td>
        <td>2022-07-15</td>
        <td>2022-07-16</td>
        <td>100</td>
        <td>1000</td>
        <td>Free breakfast</td>
        <td><button class="btn btn-success btn-sm">Edit</button></td>
        <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
      </tr>
      <tr>
        <td>2</td>
        <td>House</td>
        <td>Kha Tran</td>
        <td>2022-07-15</td>
        <td>2022-07-16</td>
        <td>100</td>
        <td>1000</td>
        <td>Free breakfast</td>
        <td><button class="btn btn-success btn-sm">Edit</button></td>
        <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#deleteModal">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item">
          <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
