<div class="container">
  <div class="row justify-content-center service-banner" style="margin-top: 1rem">
    <h3 class="text-title text-white m-5" style="font-size: 3rem">Add New Contract</h3>
  </div>
  <div class="row justify-content-center" style="margin-top: 2rem; flex-wrap: wrap">
    <form method="POST" class="needs-validation p-4"
          style="background-color: whitesmoke; border-radius: 1rem; width: 80%" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Service</label>
          <input type="text" class="form-control" id="validationCustom01"
                 placeholder="Villa" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Customer</label>
          <input type="text" class="form-control" id="validationCustom02"
                 placeholder="Tran Van A" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Start date</label>
          <input type="date" class="form-control" id="validationCustom03" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">End date</label>
          <input type="date" class="form-control" id="validationCustom04" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Deposit</label>
          <input type="text" class="form-control" id="validationCustom05" placeholder="100" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Total money</label>
          <input type="text" class="form-control" id="validationCustom06"
                 placeholder="1000" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Attach service</label>
          <input type="text" class="form-control" id="validationCustom07"
                 placeholder="Free breakfast" value="" required>
        </div>
        <div class="col-md-4 mb-3">
        </div>
        <div class="col-md-4 mb-3">
        </div>
      </div>
      <button class="btn btn-success text-white" type="submit">Create</button>
    </form>
  </div>
</div>
