<div class="container-fluid footer">
  <div class="row bg-light" style="padding: 3rem">
    <div class="col-1">
    </div>
    <div class="col-3 justify-content-center">
      <div class="row">
        <p class="font-weight-bold" style="font-size: 1.3rem">Support</p>
      </div>
      <div class="row">
        <p>Help</p>
      </div>
      <div class="row">
        <p>Advisories</p>
      </div>
      <div class="row">
        <p>Status</p>
      </div>
      <div class="row">
        <p>Contact</p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="row">
        <p class="font-weight-bold" style="font-size: 1.3rem">Codegym</p>
      </div>
      <div class="row">
        <p>About</p>
      </div>
      <div class="row">
        <p>Blog</p>
      </div>
      <div class="row">
        <p>Address</p>
      </div>
      <div class="row">
        <p>Contact</p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-3">
      <div class="row">
        <p class="font-weight-bold" style="font-size: 1.3rem">Policies</p>
      </div>
      <div class="row">
        <p>Terms of Use</p>
      </div>
      <div class="row">
        <p>Code of Conduct</p>
      </div>
      <div class="row">
        <p>Privacy</p>
      </div>
      <div class="row">
        <p>Contact</p>
      </div>
    </div>
  </div>
</div>
