<div class="container">
  <div class="row justify-content-center service-banner" style="margin-top: 1rem">
    <h3 class="text-title text-white m-5" style="font-size: 3rem">Add New Facility</h3>
  </div>
  <div class="row justify-content-center" style="margin-top: 2rem; flex-wrap: wrap">
    <form method="POST" class="needs-validation p-4"
          style="background-color: whitesmoke; border-radius: 1rem; width: 80%" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Service code</label>
          <input type="text" class="form-control" id="validationCustom01"
                 placeholder="SV-1234" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Service name</label>
          <input type="text" class="form-control" id="validationCustom02"
                 placeholder="Villa" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Service area</label>
          <input type="text" class="form-control" id="validationCustom03"
                 placeholder="40m2" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Service cost</label>
          <input type="text" class="form-control" id="validationCustom04"
                 placeholder="30" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Service max people</label>
          <input type="text" class="form-control" id="validationCustom05"
                 placeholder="3" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Number of floors</label>
          <input type="text" class="form-control" id="validationCustom06"
                 placeholder="5" value="" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationCustom01">Service type</label>
          <input type="text" class="form-control" id="validationCustom07"
                 placeholder="Standard" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Service pool area</label>
          <input type="text" class="form-control" id="validationCustom08"
                 placeholder="30" value="" required>
        </div>
        <div class="col-md-4 mb-3">
          <label for="validationCustom02">Other convenience</label>
          <input type="text" class="form-control" id="validationCustom09"
                 placeholder="Free breakfast" value="" required>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <button class="btn btn-success text-white" type="submit">Create</button>
    </form>
  </div>
</div>
