<div class="container">
  <div class="row justify-content-center service-banner" style="margin-top: 1rem">
    <h3 class="text-title text-white m-5" style="font-size: 3rem">Customer</h3>
  </div>
  <div class="row justify-content-center" style="margin-top: 2rem; flex-wrap: wrap">
    <table class="table table-hover" id="customerTable">
      <thead class="text-white table-success">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Birthday</th>
        <th scope="col">Gender</th>
        <th scope="col">ID Card</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">Address</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers | paginate :
          {itemsPerPage: itemsPerPage, currentPage: page, totalItems: totalItems }
          ; index as i">
        <td>{{i + 1}}</td>
        <td>{{customer.customerCode}}</td>
        <td>{{customer.customerName}}</td>
        <td>{{customer.customerType.customerTypeName}}</td>
        <td>{{customer.customerBirthday}}</td>
        <td *ngIf="customer.customerGender === true">Male</td>
        <td *ngIf="customer.customerGender === false">Female</td>
        <td>{{customer.customerIdCard}}</td>
        <td>{{customer.customerPhone}}</td>
        <td>{{customer.customerEmail}}</td>
        <td>{{customer.customerAddress}}</td>
        <td><button class="btn btn-success btn-sm" routerLink="/customers/edit/{{customer.customerId}}">Edit</button></td>
        <td><button class="btn btn-success btn-sm" (click)="getCustomerInfo(customer.customerId, customer.customerName)"
                    data-toggle="modal" data-target="#deleteModal">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row justify-content-center">
    <pagination-controls (pageChange)="getPage(page = $event)"></pagination-controls>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to delete {{customerName}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="deleteCustomer()" class="btn btn-success" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
